body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8px;
    font-weight: 400;
    color: #051c05;
    background: #0c0180;
}


.wrapper {
    float: left;
    position: relative;
}


@keyframes example {
    from {
        background-color: yellow;
    }
    to {
        opacity: 100;
    }
}

.change {
    animation-name: example;
    animation-duration: 1s;

}
