<!--
 <style>
     div.ex3 {
    background-color: lightblue;
  width: 310px;
  height: 210px;
  overflow: auto;
}
     </style>
<div id="chat" class="container-fluid">
    <div class="row">
            <div class="col-sm-1 slideanim"></div>
        <div class="col-sm-4 slideanim">
                <h3>Online Users</h3>
                <ul id="users"></ul>
        </div>
        <div class="col-sm-6 slideanim">
                <div class="ex3"><div id="chat_content"></div></div>
                    <form id="messageForm">    
                    <div class="form-group">
                        <label>Enter Message</label>
                        <textarea class="form-control" id="message"></textarea>
                    </div>
                    <input id="qwert" class="btn btn-default pull-right" type="submit" value="Send"></input>
                </form>
        </div>    
    </div>
</div>
-->

<style>
    *
  box-sizing border-box
  
.container{
  width: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.chat-container{
  height: 400px;
  overflow: auto;
  transform: rotate(180deg);
  direction: rtl;
}
  .message{
    border-bottom: solid 1px #ccc;
    padding: 20px;
    transform: rotate(180deg);
    direction: ltr;
  }
    .avatar{
      float: left;
      margin-right: 5px;
    }
    .datetime{
      float: right;
      color: #999;
    }

.send-message-form , input{
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 10px;
  }
  button{
    display: none;
  }
    
    </style>

<div class="container">
        <div class="chat-container">
          <div class="message">
            <img class="avatar" src="https://placeimg.com/50/50/people?1">
            <div class="datetime">00/00/0000 00:00</div>
            <p>I will be notified if you send a Message</p>
          </div>
          <div class="message">
            <img class="avatar" src="https://placeimg.com/50/50/people?2">
            <div class="datetime">00/00/0000 00:00</div>
            <p>Welcome to the the Trollbox</p>
          </div>
          <div class="message">
            <img class="avatar" src="https://placeimg.com/50/50/people?2">
            <div class="datetime">00/00/0000 00:00</div>
            <p>Admin Message</p>
          </div>
        </div>
        <form class="send-message-form">
          <input type="text" placeholder="Your message" required>
          <button type="submit">Send</button>
        </form>
      </div>


<script>

    
$(document).ready(function() {
    $('form').on('submit', function (event) {
    event.preventDefault();
    socket.emit('chatMessage' , $('input').val());
   
  });

  socket.on('showMessage', function (data){
    var message = $('.message').first().clone();
           message.find('p').text(data.msg);
           message.prependTo('.chat-container');
           $('input').val('');
    });

    //var $messageForm = $("#messageForm");
    //var $message = $("#message");
    //var $chat = $("#chat_content");
   /* event.preventDefault();
    var message = $('.message').first().clone();
    $('input').val('');
      $('#messageForm').submit(function() {
           //get Input Variable
        socket.emit('chatMessage', $message.val());
        $message.val("");

        //Very important line, it disable the page refresh.
        return false;
      });
      socket.on('showMessage', function (data){
            //$chat.append(data.msg);
            //$chat.append("<br>");
           // document.getElementById("chat").innerHTML += "Paragraph changed!";
           message.find('p').text($('input').val());
            message.prependTo('.chat-container');
        });
             */
    });

        /*Cant get variable name*/

    
</script>