
<div id="chat">
  <div  class="container slideanim">
              <h2 style="padding: 20px 35px; margin-right: auto; margin-left: auto;">Troll Box</h2>
        <div class="chat-container">
          <div class="message">
            <img class="avatar" src="https://placeimg.com/50/50/people?1">
            <div class="datetime"></div>
            <p>Troll Box</p>
          </div>
          <div class="message">
            <img class="avatar" src="https://placeimg.com/50/50/people?2">
            <div class="datetime"></div>
            <p>Chat Room</p>
          </div>
          <div class="message">
            <img class="avatar" src="https://placeimg.com/50/50/people?2">
            <div class="datetime"></div>
            <p>Admin Message</p>
          </div>
          <div class="message">
              <img class="avatar" src="https://placeimg.com/50/50/people?2">
              <div class="datetime"></div>
              <p>Welcome to the Trollbox</p>
            </div>
            <div class="message">
                <img class="avatar" src="https://placeimg.com/50/50/people?2">
                <div class="datetime"></div>
                <p>I will be notified if you send a Message</p>
              </div>
            </div>

        <form id="chatform" class="send-message-form">
          <input  id="message" style="color: black" type="text" placeholder="Your message" required>
          <button id ="messageButton" type="submit">Send</button>
        </form>
</div>
</div>

<script src="/javascripts/socket/chatRequest.js"></script>
