<!-- Container (Our Values) 
<div id="values" style="background:#f1f1f1" class="container-fluid">
    <div class="row slideanim">
         <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <span id="logo" class="glyphicon glyphicon-signal logo"></span>
        </div>
         <div class="col-sm-6">
            <h2>My Values</h2><br>
            <h4><strong>MISSION:</strong> My Mission is to change the world with better and faster WebApplication. Every website should also have a change from light mode to dark mode. </h4><br>
            <p><strong>VISION:</strong> My Vision ist to have a WebApllication wich dont just look like the future but also have Perfomance. Because Performance is really important these days.
            People dont should have a higher Ping than 30ms even in Webapplications. Runtime is the future !</p>
        </div>
         </div>
    </div>
</div>

<script>
    valuesCookieStyle();
</script>

<script src="https://www.google.com/recaptcha/api.js"></script>

 Container (Contact Section) -->
<div id="chat" class="container-fluid">
    <div class="row">
            <div class="col-sm-1 slideanim"></div>
        <div class="col-sm-4 slideanim">
                <h3>Online Users</h3>
                <ul id="users"></ul>
        </div>
        <div class="col-sm-6 slideanim">
            <div id="chat">
            </div>
                <form id="messageForm">
                    <div class="form-group">
                        <label>Enter Message</label>
                        <textarea class="form-control" id="message"></textarea>
                    </div>
                    <input id="qwert" class="btn btn-default pull-right" type="submit" value="Send"></input>
                </form>
        </div>    
    </div>
</div>
<script>
$(document).ready(function() {

    var $messageForm = $("#messageForm");
    var $message = $("#message");
    var $chat = $("#chat");
      $('#messageForm').submit(function() {
           //get Input Variable
    
        socket.emit('chatMessage', $message.val());
        $message.val("");

        //Very important line, it disable the page refresh.
        return false;
      });
      socket.on('showMessage', function (data){
            $chat.append("<h4>"+ data.msg + "</h4>");
        });
    });
     
        /*Cant get variable name*/

    
</script>