<!--
 <style>
     div.ex3 {
    background-color: lightblue;
  width: 310px;
  height: 210px;
  overflow: auto;
}
     </style>
<div id="chat" class="container-fluid">
    <div class="row">
            <div class="col-sm-1 slideanim"></div>
        <div class="col-sm-4 slideanim">
                <h3>Online Users</h3>
                <ul id="users"></ul>
        </div>
        <div class="col-sm-6 slideanim">
                <div class="ex3"><div id="chat_content"></div></div>
                    <form id="messageForm">    
                    <div class="form-group">
                        <label>Enter Message</label>
                        <textarea class="form-control" id="message"></textarea>
                    </div>
                    <input id="qwert" class="btn btn-default pull-right" type="submit" value="Send"></input>
                </form>
        </div>    
    </div>
</div>
-->

<style>
.chat-container{
  height: 400px;
  overflow-y:auto;
  overflow-x: hidden;
  /*transform: rotate(180deg);*/
  direction: inherit;
}
  .message{
    border-bottom: solid 1px #ccc;
    padding: 20px;
    /*transform: rotate(180deg);*/
    direction: ltr;
  }

    .avatar{
      float: left;
      margin-right: 5px;
    }
    .datetime{
      float: right;
      color: #999;
    }

.send-message-form , input{
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 10px;
    padding-right: 10px;
  }
  button{
    display: none;
  }
    
    </style>
<div id="chat">
<div  class="container slideanim">
  <h2 style="padding-bottom: 20px">Troll Box</h2>
        <div class="chat-container">
          <div class="message">
            <img class="avatar" src="https://placeimg.com/50/50/people?1">
            <div class="datetime"></div>
            <p>Troll Box</p>
          </div>
          <div class="message">
            <img class="avatar" src="https://placeimg.com/50/50/people?2">
            <div class="datetime"></div>
            <p>Chat Room</p>
          </div>
          <div class="message">
            <img class="avatar" src="https://placeimg.com/50/50/people?2">
            <div class="datetime"></div>
            <p>Admin Message</p>
          </div>
          <div class="message">
              <img class="avatar" src="https://placeimg.com/50/50/people?2">
              <div class="datetime"></div>
              <p>Welcome to the Trollbox</p>
            </div>
            <div class="message">
                <img class="avatar" src="https://placeimg.com/50/50/people?2">
                <div class="datetime"></div>
                <p>I will be notified if you send a Message</p>
              </div>
        </div>
        <form class="send-message-form">
          <input style="color: black" type="text" placeholder="Your message" required>
          <button type="submit">Send</button>
        </form>
</div>

</div>


<script>
</script>

<script>
function slideanim(){
     $(".slideanim").each(function(){
             var pos = $(this).offset().top;
             var winTop = $(window).scrollTop();
             if (pos < winTop + 600) {
               //$("this").addClass("rotate");
               $(this).addClass("slide");
               
             }
         });    
   }
   $(document).ready(function() {
 $('form').on('submit', function (event) {
    event.preventDefault();
    socket.emit('chatMessage' , $('input').val());
    $('input').val('');
});

socket.on('showMessage', function (data){
  //Remove all reloaded pages interruppt multiple messaging
  io.removeAllListeners();
 var message = $('.message').last().clone();
 const heute = new Date();
   //Find an rewrite text
       message.find('.datetime').text(heute.getDate() + "." + heute.getUTCMonth() + "1." + heute.getFullYear() + " " + heute.getHours() + ":" + heute.getMinutes());
       message.find('p').text(data.msg);
       $('.chat-container').append(message);
       //message.hide();
       //message.fadeIn();
       $(".chat-container").animate({ scrollTop: $('.chat-container').prop("scrollHeight")}, 0);
       //setTimeout(function(){ console.log("time out") }, 3000);
      message.addClass("w3-animate-right")
       slideanim();
 });

 });
</script>
