
<order-book-view data-askOrBid="ask" data-count="20" data-pair="XMRBTC"></order-book-view>
<ticker-view data-count="2"></ticker-view>
<trades-view></trades-view>
<candles-view data-pair="ETHUSD" data-count="240"></candles-view>

<footer id = "footer" style="background-color: #65acc2; color: #ffffff" class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span style="color: #ffffff" class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Runtime created by Enam Solaimani</p>
</footer>


<script>
    footerCookieStyle();
 </script>
<script src="/javascripts/bootstrap/smooth.js"></script>

</body>
</html>