<script>
    //Use socket.io document.socket
      // var socket = io.connect();
//var socket = require('socket.io-client')('http://localhost');

  //var socket = io();

        var socket = io.connect('https://chat.enam.io');
 $(document).ready(function() {
      $('#comment_form').submit(function() {
           //get Input Variable
        $(this).ajaxSubmit({
          error: function(xhr) {
            status('Error: ' + xhr.status);
          },
         success: function(response) {
            var name = document.getElementById('name').value
            var email = document.getElementById('email').value
            var comments = document.getElementById('comments').value
            event.preventDefault();
            var data = "" + name + ":" + email + ":" + comments + "";

            if(response['responseCode'] == 1){
                if ($('#succ').is(':empty')){
                    $("#succ").hide().append("Failed reCaptcha<br>").fadeIn();
                }else{
                    $("#succ").fadeOut().empty();
                    $("#succ").hide().append("Failed reCaptcha<br>").fadeIn();
                }
                
                $("#qwert1").css("padding-top", "0px;");
            }else{
                socket.emit('telegrammMessage', data);
                if ($('#succ').is(':empty')){
                    $("#succ").hide().append("Message send successfully<br>").fadeIn();
                }else{
                $("#succ").fadeOut().empty();
                $("#succ").hide().append("Message send successfully<br>").fadeIn();
                }
            $("#qwert1").css("padding-top", "0px;");
            }
    
         }
        });
        //Very important line, it disable the page refresh.
        return false;
      });
    });
     
        /*Cant get variable name*/

        socket.on('newMessage', function (data){
            
        });

</script>
     
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<footer id = "footer" style="background-color: #65acc2; color: #ffffff" class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span style="color: #ffffff" class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Runtime created by Enam Solaimani</p>
</footer>


<script>
    footerCookieStyle();
 </script>

 
</body>
</html>