<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8"><!--Dont allow to zoom in with maximum scale=1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/navbar.css" rel="stylesheet">
    <link href="/stylesheets/modal.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/include/functions.js"></script>
  
  <script src="/javascripts/cookies.js"></script>
  <script src="/javascripts/changeDarkLight.js"></script>
    <script src="/javascripts/notify.js"></script>
</head>

<body  id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<script src="/socket.io/socket.io.js"></script>


<div id="header">
<div id="signin" class="modal" style="opacity: 0.95;">
    <div id="formsignin" class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('signin').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="containerr">
        <label for="uname"><b>Username</b></label>
        <input id="nameSignIn" class="txt" type="text" placeholder="Enter Username" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input id="passwordSignIn" class="txt"  type="password" placeholder="Enter Password" name="psw" required>
          
        <button id="signIn">SignIn</button>
      </div>

  
      <div id="formsignin2" class="containerr">
        <button type="button" onclick="document.getElementById('signin').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </div>
</div>  

    

<div id="signup" class="modal" style="opacity: 0.95;" >
  <div id="formsignup" class="modal-content animate" style="max-width:400px">
    <div class="imgcontainer">
      <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="containerr">
      <label for="uname"><b>Email</b></label>
      <input id="emailSignUp" class="txt" type="text" placeholder="Enter Email" name="email" required><br>
      <label for="uname"><b>Username</b></label>
      <input id="nameSignUp" class="txt" type="text" placeholder="Enter Username" name="username" required><br>
      <label for="psw"><b>Password</b></label>
      <input id="passwordSignUp" class="txt" type="password" placeholder="Enter Password" name="password" required>
      <label for="psw"><b>Repeat Password</b></label>
      <input id ="passwordConfSignUp" class="txt" type="password" placeholder="Confirm Password" name="passwordConf" required>
      <button id="signUp">SignUp</button>
      <div id="formsignup2" class="containerr">
        <button type="button" onclick="document.getElementById('signup').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </div>
</div>
</div>
<script src="/javascripts/socket/request/userRequest.js">
    
    </script>

 <!--Container (Navbar Section) -->
<div id="navbar" class="container-fluid">
    <nav>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <h2 id="title" style="float:left; margin-top: 0px;">Enam</h2>
            </div>
            <ul id="navul" style="float:right; margin-right:150px;" >
                <li><a id="idAbout" class="select" onclick="main(event)">About</a></li>
                <li><a id="idChat" class="select" onclick="chat(event)">Chat</a></li>
                <li><a id="idContact" class="select" onclick="contact(event)">Contact</a></li>
                <li><div class="select" onclick="modalSignIn()">SignIn</div></li>
                <li><div class="select" onclick="modalSignUp()" style="width:auto;">SignUp</a></li>
                <li><div class="select" onclick="changeStyle()"  id="changeStyle"><span class="glyphicon glyphicon-adjust"></span></div></li>
            </ul>
            <div class="dropdown" style="float:right;" >
              <div id="nav-icon3" onclick="toogleDropdown()">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
                  <div id="myDropdown" class="dropdown-content" style="margin-top: 50px">
                      <a id="idAbout2" class="select2" onclick="main(event)">About</a>
                      <a id="idChat2" class="select2" onclick="chat(event)">Chat</a>
                      <a id="idContact2"class="select2" onclick="contact(event)">Contact</a>
                      <a class="select2" onclick="modalSignIn()" style="width:auto;">SignIn</a>
                      <a class="select2" onclick="modalSignUp()" style="width:auto;">SignUp</a>
                      <div class="select2" onclick="changeStyle()"><span class="glyphicon glyphicon-adjust"></span></div>
                  </div>
                  
        </div>
    </nav>
</div>
</div>
<script>
function modalSignIn(){
  document.getElementById('signin').style.display='block';

  headerCookieStyle();
}
function modalSignUp(){
  document.getElementById('signup').style.display='block'

  headerCookieStyle();
}
</script>

<script src="/javascripts/navbar.js"></script>
<script>
headerCookieStyle();
</script>