<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8"><!--Dont allow to zoom in with maximum scale=1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/navbar.css" rel="stylesheet">
    <link href="/stylesheets/modal.css" rel="stylesheet">
    <script src="/javascripts/changeDarkLight.js"></script>
    <script src="/javascripts/notify.js"></script>
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#000"
          },
          "button": {
            "background": "#f1d600"
          }
        }
    })});
    </script>
    
</head>

<body  id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<script src="/socket.io/socket.io.js"></script>


<div id="header">

 <!--Container (Navbar Section) -->
<div id="navbar" class="container-fluid">
    <nav>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <h2 id="title" style="float:left; margin-top: 0px;">Enam</h2>
            </div>
            <ul id="navul" style="float:right; margin-right:150px;" >
                <li><div id="idProfile" class="select" onclick="profile(event)">Profile</div></li>
                <li><div id="idAbout" class="select" onclick="main(event)">About</div></li>
                <li><div id="idChat" class="select" onclick="chat(event)">Chat</div></li>
                <li><div id="idContact" class="select" onclick="contact(event)">Contact</div></li>
                <li><div id="idLogout" class="select" onclick="logout(event)">Logout</div></li>
                <li><div class="select" onclick="changeStyle()"  id="changeStyle"><span class="glyphicon glyphicon-adjust"></span></div></li>
            </ul>
            <div class="dropdown" style="float:right;" >
              <div id="nav-icon3" onclick="toogleDropdown()">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
                  <div id="myDropdown" class="dropdown-content" style="margin-top: 50px">
                    <a id="idProfile2"class="select2" onclick="profile(event)">Profile</a>
                      <a id="idAbout2"class="select2" onclick="main(event)">About</a>
                      <a id="idChat2"class="select2" onclick="chat(event)">Chat</a>
                      <a id="idContact2"class="select2" onclick="contact(event)">Contact</a>
                      <a id="idLogout2"class="select2" onclick="logout(event)">Logout</a>
                      <div class="select2" onclick="changeStyle()"><span class="glyphicon glyphicon-adjust"></span></div>
                  </div>
                  
        </div>
    </nav>
</div>
</div>
<script>
    function logout(){
        socket.emit('logout',"data");
        location.reload();
    }
</script>

<script src="/javascripts/navbar.js"></script>
<script>
headerProfileCookieStyle();
</script>