<% if (!logged) { %>
<%- include('external/header') -%>
<% } else { %>
<%- include('internal/headerProfile') -%>
<% } %>

<% if (!logged) { %>
  <script type="text/javascript" src="javascripts/external/checkUrl.js"></script>
<% } else { %>
  <script type="text/javascript" src="javascripts/internal/checkUrlIntern.js"></script>
<% } %>

<!--Loade Content Page-->
<div id="result" class="content"><!--Implement right loading for /#var--></div>
        
<% if (!logged) { %>
<script src="/javascripts/external/loadContent.js"></script>
<% } else { %>
<script src="/javascripts/internal/loadContentIntern.js"></script>
<% } %>

<script>var socket = io.connect('https://enam.io');</script>

<% if (!logged) { %>
<script src="/javascripts/socket/response/userSocket.js"></script>
<% }  %>
<script src="javascripts/socket/response/chatSocket.js"></script>

<%- include('footer') -%>