<% if (!logged) { %>
  <%- include('header') -%>
<% } else { %>
  <%- include('headerProfile') -%>
  <% } %>

  <% if (!logged) { %>
    <script type="text/javascript" src="javascripts/checkUrl.js"></script>
  <% } else { %>
    <script type="text/javascript" src="javascripts/checkUrlIntern.js"></script>
    <% } %>

      <!--Loade Content Page-->
      <div id="result" class="content"><!--Implement right loading for /#var-->
      </div>
      <!--Implement loading screen here-->
      <script>
        $("#start-loader").click(function() {
            $("#loader-gif").show();
            setTimeout(function() {
              $("#loader-gif").hide();
            }, 5000);
          });
        </script>
        <% if (!logged) { %>
          <script src="/javascripts/loadContent.js"></script>
        <% } else { %>
          <script src="/javascripts/loadContentIntern.js"></script>
          <% } %>
    
      <script> 
        var socket = io.connect('https://chat.enam.io');   
    </script>
<% if (!logged) { %>
<script>

        socket.on('signInResponse',function(data){
              if(data.success){
                $.notify("Successfully Logged in!", "success");
                window.location.href = "https://chat.enam.io/#profile";
                location.reload();
              } else{
                $.notify("Password or Username wrong !!!", "error");
              }
          });
          socket.on('signUpResponse',function(data){
              if(data.success){
                $.notify("Successfully Registered! You will be Logged in", "success");
                window.location.href = "https://chat.enam.io/#profile";
                location.reload();
              } else
                $.notify("Sign Up Failed!", "error");
          });
      
      </script>
   <% }  %>
  <script src="javascripts/socket/chatSocket.js">
    
</script>
<%- include('footer') -%>