<%- include('header') -%>
    <script type="text/javascript">
      $(document).ready(function () {
          if(window.location.href.indexOf("#contact") > -1) {
            contact();
          }
          else if(window.location.href.indexOf("#main") > -1) {
            main();
          }else if(window.location.href.indexOf("#chat") > -1) {
            chat();
          }else{
            main();
          }
      });
      </script>
      
      <!--Loade Content Page-->
      <div id="result" class="content"><!--Implement right loading for /#var-->
      </div>

      <script> 
        var socket = io.connect('https://chat.enam.io');   
    </script>
  <script>
    function slideanim(){
      $(".slideanim").each(function(){
              var pos = $(this).offset().top;
              var winTop = $(window).scrollTop();
              if (pos < winTop + 600) {
                  $(this).addClass("slide");
              }
          });    
    }
    function contact(){
      //$('.dropdown-content').hide();
      var $result = $('#result'); 
       $result.load('/contact' ,function (){
         slideanim();
          contactCookieStyle();
      });
    }
    function main(){
      //$('.dropdown-content').hide();
      var $result = $('#result'); 
       $result.load('/main' ,function (){
          //slideanim();
          cookieStyle();
      });
    }
    function chat(){
     // $('.dropdown-content').hide();
      var $result = $('#result'); 
       $result.load('/chat' ,function (){
          slideanim();
          chatCookieStyle();
      });
    }
    
  </script>
  <script>
    $(document).ready(function() {
 $('form').on('submit', function (event) {
    event.preventDefault();
    socket.emit('chatMessage' , $('input').val());
    $('input').val('');
});

socket.on('showMessage', function (data){
 var message = $('.message').last().clone();
 const heute = new Date();
   //Find an rewrite text
       message.find('.datetime').text(heute.getDate() + "." + heute.getUTCMonth() + "1." + heute.getFullYear() + " " + heute.getHours() + ":" + heute.getMinutes());
       message.find('p').text(data.msg);
       $('.chat-container').append(message);
       //message.hide();
       //message.fadeIn();
       $(".chat-container").animate({ scrollTop: $('.chat-container').prop("scrollHeight")}, 0);
       //setTimeout(function(){ console.log("time out") }, 3000);
      message.addClass("w3-animate-right")
       slideanim();
 });

 });
</script>

<%- include('footer') -%>