<%- include('header') -%>
 
<div id="result" class="content">
        <%- include('main') -%>
</div>

<script> 
    var socket = io.connect('https://chat.enam.io');   
</script>

  <script>
      function slideanim(){
        $(".slideanim").each(function(){
                var pos = $(this).offset().top;
                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });    
      }
      function contact(){
        var $result = $('#result'); 
         $result.load('/contact' ,function (){
           slideanim();
            contactCookieStyle();
        });
      }
      function main(){
        var $result = $('#result'); 
         $result.load('/main' ,function (){
            //slideanim();
            cookieStyle();
        });
      }
      function values(){
        var $result = $('#result'); 
         $result.load('/values' ,function (){
            slideanim();
            valuesCookieStyle();
        });
      }
  </script>



<%- include('footer') -%>