<%- include('header') -%>


    

    <script type="text/javascript">
      $(document).ready(function () {
          if(window.location.href.indexOf("contact") > -1) {
            contact();
          }
          else if(window.location.href.indexOf("main") > -1) {
            main();
          }
          else if(window.location.href.indexOf("chat") > -1) {
            chat();
          }else{
            main();
          }
      });
      </script>
      <div id="result" class="content"><!--Implement right loading for /#var-->
      </div>
<script> 
    var socket = io.connect('https://chat.enam.io');   
</script>

  <script>
      function slideanim(){
        $(".slideanim").each(function(){
                var pos = $(this).offset().top;
                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });    
      }
      function contact(){
        var $result = $('#result'); 
         $result.load('/contact' ,function (){
           slideanim();
            contactCookieStyle();
        });
      }
      function main(){
        var $result = $('#result'); 
         $result.load('/main' ,function (){
            //slideanim();
            cookieStyle();
        });
      }
      function chat(){
        var $result = $('#result'); 
         $result.load('/chat' ,function (){
            slideanim();
            chatCookieStyle();
        });
      }
  </script>



<%- include('footer') -%>