<%- include('header') -%>
    <script type="text/javascript" src="javascripts/checkUrl.js"></script>


      <!--Loade Content Page-->
      <div id="result" class="content"><!--Implement right loading for /#var-->
      </div>
      <!--Implement loading screen here-->
      <script>
        $("#start-loader").click(function() {
            $("#loader-gif").show();
            setTimeout(function() {
              $("#loader-gif").hide();
            }, 5000);
          });
        </script>
      <script src="/javascripts/loadContent.js"></script>
      <script> 
        var socket = io.connect('https://chat.enam.io');   
    </script>

<script>

        socket.on('signInResponse',function(data){
              if(data.success){
                 // alert("Sign in successul.");
                 var $result = $('#result'); 
                 $result.load('/profile' ,function (){
                    slideanim();
                });
              } else
                  alert("Sign in unsuccessul.");
          });
          socket.on('signUpResponse',function(data){
              if(data.success){
                  alert("Sign up successul.");
              } else
                  alert("Sign up unsuccessul.");
          });
      
      </script>
 
  <script src="javascripts/socket/chatSocket.js">
    
</script>
<%- include('footer') -%>