<%= title %>
Welcome to the internal section

<!-- Container (About Section) -->
<div id="profile" class="container-fluid">
	<div class="slideanim">
    <div  class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h4><%= title %>
                Welcome to the internal section</h4><br>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <br><button onclick="happy()" class="btn btn-default btn-lg">Send socket message to server admin</button> -->
        </div>
    </div>
    </div>
	</div>

