

<!-- Container (About Section) -->

<div id="profile" class="jumbotron text-center">
    <h1>User: <%= title %></h1>
    <h4>Metall:</h4><h4 id = metal></h4>
    <p>Welcome to the internal section</p> 
</div>

<script>
    $(document).ready(function(){ if(window.location.href  == "https://chat.enam.io/#profile"){
socket.on('updateRessourcen',function(data){
    if(window.location.href  == "https://chat.enam.io/#profile"){
    document.getElementById("metal").textContent = data;}
    //data.kristall,
    //data.deuterium
});
}
    });
       
</script>