

<!-- Container (About Section) -->

<div id="profile" class="jumbotron text-center">
    <h1>User: <%= title %></h1>
    <h4>Metall:</h4><h4 id = metal></h4>
    <p>Welcome to the internal section</p> 
</div>

<script>
socket.on('newPositions',function(data){

    document.getElementById("metal").value = data.metal;

    //data.kristall,
    //data.deuterium
});
</script>